<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="imgs/icon.ico" type="image/x-icon">


</head>

<header class="header-profile">
    <a href="/feed?id=<%=userDados[0].id%>">
        <img class="header-logo" src="imgs/Logo.png" alt="logo hubber gradiente azul">
    </a>
    <div class="header-nav">
        <a href="/feed?id=<%=userDados[0].id%>">
            <ion-icon name="home-outline"></ion-icon>
        </a>
        <a href="/posting?id=<%=userDados[0].id%>">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        <a href="/login?id=<%=userDados[0].id%>">
            <ion-icon class="active" name="person-outline"></ion-icon>
        </a>
    </div>
</header>

<body>
    <main class="profile-main">
        <div class="profile-bg"></div>
        <section class="profile-content">
            <div class="profile-info-content">
                <img src="imgs/7l018d6idfp61.jpg" alt="" class="profile-icon">
                <h1 class="profile-username">
                    @<%=userDados[0].name%>
                </h1>
                <p class="profile-bio">Lorem ipsum dolor, sit amet consectetur adipisicin Lorem ipsum dolor, sit amet
                    consectetur adipisicin Lorem ipsum dolor, sit amet consectetur adipisicin</p>
            </div>
            <div class="profile-img-content">
                <a href="/detailed_post">
                    <img src="https://www.artesanatopassoapassoja.com.br/wp-content/uploads/2022/03/desenho-pikachu-para-colorir.jpg"
                        alt="pikachu desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7vwtfuqA4INcCm08VqFLnovukbNWRvryq_Q&usqp=CAU"
                        alt="among us desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6IxUED4CUOyeymDWAFzz5EIJWFM3S8WPWyg&usqp=CAU"
                        alt="minion kevin desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc5oDesJ4hYMJg0TIcR2Fx5DakRovoPnu8WlnVpYwJZ8LN9q_zKpx3VW7H_6PSbCBbQ9I&usqp=CAU"
                        alt="minion stuart desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://imagensemoldes.com.br/wp-content/uploads/2020/08/Desenho-de-Minion-roxo-para-colorir.jpg"
                        alt="minion louco desenho colorir ">
                </a>
                <a href="/detailed_post">
                    <img src="https://i.pinimg.com/originals/31/72/62/317262393ae9e25c0e5d6f7034e816cf.jpg"
                        alt="unicórnio desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://i.pinimg.com/originals/6f/f9/2e/6ff92ec96ff4b8ea1515155651b5f173.jpg"
                        alt="chuva desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxzXsFEVeZ1hosbw1QX29yIr1ot5IswthOLqjgqVerFq49NRZIfUuPthjQxJssNkMRBtY&usqp=CAU"
                        alt="pocoyo desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM2JvVYtHRI4mVAN5Sf7RIFvgXmfQr-vL5sA&usqp=CAU"
                        alt="pato donald desenho colorir">
                </a>
                <a href="/detailed_post">
                    <img src="https://colorir.me/wp-content/uploads/2021/07/bob-esponja-com-sorriso-engracado.jpg"
                        alt="bob esponja desenho colorir">
                </a>
            </div>
        </section>
    </main>
    <div class="footer-nav">
        <a class="footer-a" href="/feed?id=<%=userDados[0].id%>">
            <ion-icon name="home-outline"></ion-icon>
        </a>
        <a class="footer-a" href="/posting?id=<%=userDados[0].id%>">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        <a class="footer-a" href="/login?id=<%=userDados[0].id%>">
            <ion-icon class="active" name="person-outline"></ion-icon>
        </a>
    </div>

    <footer>
        <div class="footer-content">
            <div>
                <h5>© 2022 Hubber. All rights reserved</h5>
            </div>
            <div class="footer-icons">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
        </div>
    </footer>
</body>


</html>