<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="imgs/icon.ico" type="image/x-icon">


</head>

<body>
    <header>
        <a href="/feed?id=<%=id%>">
            <img class="header-logo" src="imgs/Logo.png" alt="logo hubber gradiente azul">
        </a>
        <div class="header-nav">
            <a href="/feed?id=<%=id%>">
                <ion-icon class="active" name="home-outline"></ion-icon>
            </a>
            <a href="/posting?id=<%=id%>">
                <ion-icon name="add-outline"></ion-icon>
            </a>
            <a href="/login?id=<%=id%>">
                <ion-icon name="person-outline"></ion-icon>
            </a>
        </div>
    </header>
    <main class="feed-main">
        <div class="feed-imgs-group">
            <% for (let n=0; n<chunks[0].length; n++){%>
            <div class="feed-card">
                <a href="/detailed_post?id=<%=chunks[0][n].userId%>?idPost=<%=chunks[0][n].id%>">
                    <img class="feed-img"
                        src="https://media.discordapp.net/attachments/1006233469078220803/1026806959556530227/unknown.png"
                        alt="wisemysticaltree arvore dekutree">
                    <div class="feed-desc">
                        <h3><%=chunks[0][n].title%></h3>
                        <p><%=chunks[0][n].description%></p>
                    </div>
                </a>
            </div>
            <%}%>
        </div>
        <div class="feed-imgs-group">
            <% for (let n=0; n<chunks[1].length; n++){%>
            <div class="feed-card">
                <a href="/detailed_post?id=<%=chunks[0][n].userId%>?idPost=<%=chunks[0][n].id%>">
                    <img class="feed-img"
                        src="https://media.discordapp.net/attachments/1006233469078220803/1026806959556530227/unknown.png"
                        alt="wisemysticaltree arvore dekutree">
                    <div class="feed-desc">
                        <h3><%=chunks[1][n].title%></h3>
                        <p><%=chunks[1][n].description%></p>
                    </div>
                </a>
            </div>
            <%}%>
        </div>


    </main>
    <div class="footer-nav">
        <a class="footer-a" href="/feed?id=<%=id%>">
            <ion-icon class="active" name="home-outline"></ion-icon>
        </a>
        <a class="footer-a" href="/posting?id=<%=id%>">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        <a class="footer-a" href="/login?id=<%=id%>">
            <ion-icon name="person-outline"></ion-icon>
        </a>
    </div>
        <footer>
            <div class="footer-content">
                <div>
                    <h5>© 2022 Hubber. All rights reserved</h6>
                </div>
                <div class="footer-icons">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                </div>
            </div>
        </footer>
</body>


</html>